body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.bg-mine {
    background-color: teal !important;
    border-style: solid;
    border-color: teal !important;
}

footer {
    display:none !important;
}
header{
    display:none !important;
}
